<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="container">

<div class="jumbotron">
    <h2>테스트 게시판</h2>
</div>
<form th:method="get" th:action >
    <div class="ui-icon-search">
        <select th>

        </select>
        <input th:type="text" th:name="searchKeyword">
    </div>
</form>


<table class="table" >
    <tr>
        <th>번호</th>
        <th>사원번호</th>
        <th>이름(fullname)</th>
        <th>부서</th>
        <th>급여</th>
        <th>생년월일</th>
        <th>성별</th>
    </tr>
    <tr th:each="data, i: ${boardList}">
        <td th:text="${pageStartNum} - ${i.index}"></td>
        <td th:text="${data.employee_id}"></td>
        <td th:text="|${data.last_name} ${data.first_name}|"></td>
        <td th:text="${data.department_name}"></td>
        <td th:text="${data.salary}"></td>
        <td th:text="${data.birth_date}"></td>
        <td th:text="${data.sex}"></td>
    </tr>
    <tr th:if="${boardList.isEmpty()}">
        <td colspan="7">조회된 데이터가 없습니다.</td>
    </tr>
</table>
<nav style="text-align: center;">
    <ul class="pagination">
        <li th:class="${page.firstPage}?'disabled':''">
            <span th:if='${page.firstPage}'>← First</span>
            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← 첫번째 페이지</a>
        </li>
        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
            <span th:if='${not page.hasPreviousPage}'>«</span>
            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='이전 페이지'>«</a>
        </li>
        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
            <span th:if='${item.current}' th:text='${item.number}'>1</span>
            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
        </li>
        <li th:class="${page.hasNextPage}? '' : 'disabled'">
            <span th:if='${not page.hasNextPage}'>»</span>
            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='다음 페이지'>»</a>
        </li>
        <li th:class="${page.lastPage}? 'disabled' : ''">
            <span th:if='${page.lastPage}'>Last →</span>
            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>마지막 페이지 →</a>
        </li>
    </ul>
</nav>

</body>
</html>