<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script th:inline="javascript">
            function page_go(page){
                const frm = document.getElementById("searchForm");
                frm.page.value = page;
                frm.paramCount.value = [[${page.getTotalCount()}]];
                frm.submit();
            }

        </script>
    </head>
    <body class="container">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/members">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <form th:method="get" th:action th:name="searchForm" th:id="searchForm">
                    <input th:type="hidden" th:name="page" th:value="0"/>
                    <input th:type="hidden" th:name="size" th:value="${page.size}"/>
                    <input th:type="hidden" th:name="paramCount" th:value="0"/>
                    <input th:type="text" name="name" th:value="sd"/>
                    <button th:type="submit">검색</button>
                </form>

                <table class="table" >
                    <tr>
                        <th>번호</th>
                        <th>사원번호</th>
                        <th>이름(fullname)</th>
                        <th>부서</th>
                        <th>급여</th>
                        <th>생년월일</th>
                        <th>성별</th>
                    </tr>
                    <tr th:each="data, i: ${boardList}">
                        <td th:text="${pageStartNum} - ${i.index}"></td>
                        <td th:text="${data.employee_id}"></td>
                        <td th:text="|${data.last_name} ${data.first_name}|"></td>
                        <td th:text="${data.department_name}"></td>
                        <td th:text="${data.salary}"></td>
                        <td th:text="${data.birth_date}"></td>
                        <td th:text="${data.sex}"></td>
                    </tr>
                    <tr th:if="${boardList.isEmpty()}">
                        <td colspan="7">조회된 데이터가 없습니다.</td>
                    </tr>
                </table>
                <nav style="text-align: center;">
                    <ul class="pagination">
                        <li th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}' href="#" th:onclick="'page_go(0); return false;'">← 첫번째 페이지</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href="'#'" th:onclick="'page_go(' +( ${page.number-2} + '); return false;'" title='이전 페이지'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' href="#" th:onclick="'page_go(' + ( ${item.number} - 1 ) + '); return false;'"><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href="'#'" th:onclick="'page_go(' + ${page.number} + '); return false;'" title='다음 페이지'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href="'#'" th:onclick="'page_go(' + ${page.totalPages - 1} + ');'">마지막 페이지 →</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <!--<li th:class="${page.firstPage}?'disabled':''">
            <span th:if='${page.firstPage}'>← First</span>
            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size},paramCount=${page.getTotalCount()})}'>← 첫번째 페이지</a>
        </li>
        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
            <span th:if='${not page.hasPreviousPage}'>«</span>
            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size},paramCount=${page.getTotalCount()})}' title='이전 페이지'>«</a>
        </li>
        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
            <span th:if='${item.current}' th:text='${item.number}'>1</span>
            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size},paramCount=${page.getTotalCount()})}'><span th:text='${item.number}'>1</span></a>
        </li>
        <li th:class="${page.hasNextPage}? '' : 'disabled'">
            <span th:if='${not page.hasNextPage}'>»</span>
            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size},paramCount=${page.getTotalCount()})}' title='다음 페이지'>»</a>
        </li>
        <li th:class="${page.lastPage}? 'disabled' : ''">
            <span th:if='${page.lastPage}'>Last →</span>
            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size},paramCount=${page.getTotalCount()})}'>마지막 페이지 →</a>
        </li>-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
